<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prognoza pogody</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div style="margin: 100px auto; max-width: 1000px; width: 100%">

    <h1 style="color: darkslateblue">Prognoza pogody</h1>
    <img src="https://www.iconsdb.com/icons/preview/purple/sun-5-xxl.png">
    <table class="table">
        <thead>
        <tr>
            <td>Miasto</td>
            <td>Temperatura</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


</body>
</html>